DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kanban?schema=public"
JWT_SECRET="replace-with-at-least-32-random-characters"
JWT_EXPIRES_IN="7d"
CLIENT_URL="http://localhost:5173"
API_PORT=3000
